@font-face {
  font-family: 'museo_sans500';
  src: url('fonts/museosans_500-webfont.eot');
  src: url('fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/museosans_500-webfont.woff') format('woff'),
       url('fonts/museosans_500-webfont.ttf') format('truetype'),
       url('fonts/museosans_500-webfont.svg#museo_sans500') format('svg');
  font-weight: normal;
  font-style: normal;
}